h5 {
    font-size: 40px;
}

/* Card Pasien */
.pasien {
    background-color: #4FA074;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
    height: 150px;
}

.bed {
    position: absolute;
    display: flex;
    width: 130px;
    height: 134px;
    margin-left: 850px;
    margin-top: -90px;
}

.link-pasien {
    position: flex;
    color: white;
    top: 20px;
}

/* Card Pasien End */

/* Card Rawat Inap */
.scope {
    position: absolute;
    display: flex;
    width: 130px;
    height: 134px;
    margin-left: 350px;
    margin-top: -90px;
}

.rawat-inap {
    background-color:#155962 ;
    border-radius: 20px;
    color: white;
    height: 150px;
}

.link-rawat {
    position: flex;
    color: white;
    top: 20px;
}
/* Card Rawat Inap End */

/* Card Triase */
.igd-1 {
    position: absolute;
    display: flex;
    width: 130px;
    height: 134px;
    margin-left: 350px;
    margin-top: -90px;
}

.triase {
    background-color: #B83737;
    border-radius: 20px;
    color: white;
    height: 150px;
}

.link-triase {
    position: flex;
    color: white;
    top: 20px;
}
/* Card Triase End */

/* Pop-up Pendaftaran Rawat Inap */
/* .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    width: 40%;
    height: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.mr-2{
    position: absolute;
    margin-right: 0.5rem;
  }
   
  .mr-3{
    position: absolute;
    margin-left: 120px;
  }
  .mr-4{
    position: absolute;
    margin-left: 250px;
    margin-top: -100px;
  } */
   
  /* Strong */
  strong {
    margin-bottom: -50%;
    font-size: 30px;
  }
  /* Strong end */
  /* css button */
  .btn{
      font-family: sans-serif;   
      font-size: 1em;   
      background: #3c8dbc;  
      color: white; 
      border: rgb(0, 0, 0) 0.1rem solid; 
      border-radius: 0.5rem;
      padding: 0.8rem 1.5rem; 
      margin-top: 1rem; 
      text-decoration: none; 
  }
  /* memberi efek hover pada button */
  .btn:hover{
     opacity:0.9;
  }


/* .btn {
    margin: 0;
    position: absolute;
    top: 92%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #9F8772;
    color: white;
    border-radius: 20px;
    width: 100px;
} */

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

/* Pop-up Pendaftaran Rawat Inap End */


/* Pop-up Pendaftaran Poliklinik */
/* .overlay1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay1:target {
    visibility: visible;
    opacity: 1;
}

.popup1 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    width: 30%;
    height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup1 h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.popup1 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup1 .close:hover {
    color: #06D85F;
}

.popup1 .content {
    max-height: 30%;
    overflow: auto;
}

.btn {
    margin: 0;
    position: absolute;
    top: 92%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #9F8772;
    color: white;
    border-radius: 20px;
    width: 100px;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
} */

/* Pop-up Pendaftaran Poliklinik End */

/* Pop-up Pendaftaran IGD */
/* .overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay2:target {
    visibility: visible;
    opacity: 1;
}

.popup2 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    width: 30%;
    height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup2 h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.popup2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup2 .close:hover {
    color: #06D85F;
}

.popup2 .content {
    max-height: 30%;
    overflow: auto;
}

.btn {
    margin: 0;
    position: absolute;
    top: 92%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #9F8772;
    color: white;
    border-radius: 20px;
    width: 100px;
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
} */

/* Pop-up Pendaftaran IGD End */